

@font-face {
    font-family: fontTitulo;
    src: url(assets/Satisfy-Regular.ttf);
  }

.titulo{
    font-family: fontTitulo;
}

.boton-cancel{
    background-color: #f8565a;
    border: 1px solid #96c0bf;
}

.boton-accept{
    background-color: #f3e8dd;
    border: 1px solid black;
}

.barra-nav{
    height: 100px;
    color: white !important;
}

.barra-nav div ul li a{
    
    color: white !important;
}


.clickeable{
    cursor: pointer;
}